<a href="https://colab.research.google.com/github/danski3456/coding_exercises/blob/main/Cleaning%20a%20dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective

The objective of this notebook is get hands-on experience on cleaning a "dirty" dataset.
Often, datasets are created from "free-text" fields. In free-text fields, data validation is not enforced and as a result, many conventions co-exist within the same column of data.
Dirty data can also ocurr when collection information from different sources. If these sources use different conventions to represent such data, additional efforts are required to homogenize it at a later stage.

## Setup

In [ ]:
!wget -nv https://raw.githubusercontent.com/danski3456/notebook_grading/main/utils.py -O utils.py
%run utils.py

!pip install eccd_datasets > /dev/null

In [ ]:
STUDENT_NAME = "Nombre Apellido"
COURSE_NAME = "eccd-feb22"
EXERCISE_NAME = "cleaning-a-dataset"

In [ ]:
import pandas as pd
import numpy as np
from eccd_datasets import load_lingerie

In [ ]:
datasets = load_lingerie()

In [ ]:
datasets.keys()

## The different datasets on their own

In [ ]:
datasets["ae_com"].head()

In [ ]:
datasets["amazon_com"].head()

### Joining all the datasets into one

In [ ]:
df = pd.concat(datasets.values())

In [ ]:
df.shape

# Calculating statistics on the dataset

## Unifying Victoria's Secret

In [ ]:
def unify_victoria_secret(df):
    """
    We want that all brands that are related to Victoria's Secret
    have `victoria's secret` as their brand instead of what they
    currently have.
    """
    df = df.copy()
    new_string = "victoria's secret"
    # Write your code here

In [ ]:
df_unified = unify_victoria_secret(df)

In [ ]:
answer_victoria_secret =df_unified[df_unified["brand_name"] == "victoria's secret"].shape[0]
print(answer_victoria_secret)

## Cleaning up the price

In this sectino we are going to transform the `price` column into a float column in USD dolars.

For this, be careful of the different formats in the data.

For simplicity, you might assume that all the prices are in USD dolars, regarding of the symbol of the currency used.

In [ ]:
def clean_price(df):
    """
    In this function we will transform the
    `price` column into a column of floats.
    In case a product has more than one price,
    return the lowest one.
    """
    
    # Write your code here

In [ ]:
df_clean = clean_price(df_unified)

In [ ]:
answer_unified_price_sum = df_clean["price"].sum()
print(answer_unified_price_sum)

In [ ]:
def low_high_product_mean(df):
    """
    Finally, we will calculate `product_category` with the lowest and highest mean price
    for the brand Victoria's Secret.
    """

    # Write your code here

In [ ]:
lowest_mean, highest_mean = low_high_product_mean(df_clean)
assert np.allclose(lowest_mean, 3.6203030303030)
print("highest_mean", highest_mean)

In [ ]:

proposed_solution = {
'attempt': {
    'course_name': COURSE_NAME,
    'exercise_name': EXERCISE_NAME,
    'username': STUDENT_NAME,
},
'task_attempts': [
         {
            "name": "victoria secret",
            "answer": str(answer_victoria_secret),
         },
         {
            "name": "price unification",
            "answer": str(answer_unified_price_sum),
         },
         {
            "name": "highest mean",
            "answer": str(highest_mean),
         },
]

}
check_solution(proposed_solution)